h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.67em;
}

p {
    line-height: 1.5;
    margin-bottom: 0.67em;
}

a:any-link,
a:active {
    text-decoration: none;
}